.img-card{
    max-width: 50px;
}
svg{
    max-width: 100%;
    margin: 10px;
}
.card{
    max-width: 100%;
    align-items: center;
    text-align: center;
}
.container{
    display: grid;
    padding: 0;
}
.user_name, .user-surname{
    font-size: small;
    font-weight: 600;
}
.user-email{
    text-decoration: underline;
    white-space: nowrap;
}
.user-email:hover{
    color: rgb(235, 77, 119);
}

.card:hover{
    background-color: rgba(127, 255, 212, 0.112);
}